---
---

<html lang="zh-CN">
  <head>
    <title>MatrixOne Docs | MatrixOrigin</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  </head>
  <body>
    <slot />
  </body>
</html>
